// Imports
@import "variables";
@import "mixins";
//
@import url('fonts.css');
//
// Functions
//
@mixin transition($time) {
    -webkit-transition: all $time ease;
    -moz-transition: all $time ease;
    -ms-transition: all $time ease;
    -o-transition: all $time ease;
    transition: all $time ease;
}

//
// Style Rules
//
html {
    height: 100%;
}

body {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    color: #fff;
    text-align: center;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

img {
    max-width: 100%;
}


/*
 * Globals
 */


/* Links */

a,
a:focus,
a:hover {
    color: #fff;
}


/* Custom default button */

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    margin-bottom: -25px;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}


/* Padding for spacing */

.inner {
    padding: 2rem;
}


/*
 * Header
 */

.masthead {
    margin-bottom: 2rem;
    background-color: #c80303;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: bold;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}


/*
 * Cover
 */

.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
    color: rgba(255, 255, 255, .5);
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
    /* Pull out the header and footer */
    .masthead {
        position: absolute;
        top: 0;
    }
    .mastfoot {
        position: relative;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%;
        /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 62em) {
    .masthead {
        width: 100%;
        padding: 5px 0;
    }
    .mastfoot,
    .cover-container {
        width: 60rem;
    }

    .cover-container {
        padding: 90px 0 0 0;
    }
}

@media (min-width: 1199px) {
    .masthead {
        width: 100%;
        padding: 5px 0;
    }
    .mastfoot,
    .cover-container {
        width: 1020px;
    }
}

@media (min-width: 1440px) {
    .mastfoot,
    .cover-container {
        width: 1400px;
    }
}

.form-inline .form-control {
    height: 40px;
    line-height: 17px;
    width: 100%;
}

.form-inline {
    display: inline-flex;
}

.form-group {
    padding-bottom: 15px;
}

#uploadForm {
    margin-bottom: 20px;
    button {
        position: relative;
        lefT: -8px;
    }
}

.inner.cover {
    .card,
    .card-body,
    .card-title,
    h4,
    p {
        color: #000 !important;
        text-shadow: none;
    }
}

.table th,
.table td {
    text-align: center;
}

.table.row {
    margin: 0 -5px !important;
    [class*="col-"] {
        padding: 5px 5px;
    }
}

#list-content button {
    line-height: 0.5;
    cursor: pointer;
}

.bannerBox {
    width: 0px;
    height: 0px;
    border: 1px #555 solid;

    -webkit-box-shadow: 0px 6px 16px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 16px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 16px -4px rgba(0,0,0,0.75);

    margin: 0 auto;
    overflow: hidden;
}

.bannerInfo {
    color: #ddd;
    padding: 30px;
}

.bannerInfo span {
    padding-right: 30px;
}


div.dataTables_wrapper {
    padding-left: 30px;
}

div.dataTables_wrapper div.dataTables_length select {
  margin: 0 20px; }

div.dataTables_wrapper .row {
  width: 100%; }

div.dataTables_wrapper label {
  display: initial; }

div.dataTables_wrapper a, div.dataTables_wrapper a:hover {
  color: #000;
  text-decoration: none; }

div.dataTables_wrapper form {
  display: inline-flex; }

div.dataTables_wrapper .dz-preview {
  display: none; }

#dataTable th,
.table th,
.table td {
  text-align: center; }

.table.row {
  margin: 0 -5px !important; }
  .table.row [class*="col-"] {
    padding: 5px 5px; }

#list-content button {
  line-height: 0.5;
  cursor: pointer; }

#list-content form .modal button {
  line-height: 1.5; }

#list-content .modal .form-control {
  height: 22px; }

.bannerBox {
  width: 0px;
  height: 0px;
  border: 1px #555 solid;
  -webkit-box-shadow: 0px 6px 16px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 16px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 16px -4px rgba(0, 0, 0, 0.75);
  margin: 0 auto;
  overflow: hidden; }

.bannerInfo {
  color: #ddd;
  padding: 30px; }

.bannerInfo span {
  padding-right: 30px; }

/**
DropZone
**/
.top-placeholder {
  height: 90px;
  border: 2px #fff dashed;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .top-placeholder .dz-default {
    display: table;
    width: 100%;
    height: 100%; }
    .top-placeholder .dz-default span {
      display: table-cell;
      vertical-align: middle;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  .top-placeholder.dz-drag-hover {
    -webkit-box-shadow: 10px 10px 21px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 21px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 21px -9px rgba(0, 0, 0, 0.75); }
    .top-placeholder.dz-drag-hover .dz-default span {
      font-size: 24px; }
  .top-placeholder .dz-preview {
    display: none; }
  .top-placeholder h5 {
    color: #000;
    text-shadow: none; }
  .top-placeholder .err_id {
    text-shadow: none;
    color: red;
    font-weight: 600;
    padding: 5px 15px;
    background: #eee;
    border-radius: 8px;
    position: relative;
    top: 15px; }

.hidden {
  display: none; }


.collapse.show {
    display: block;
    /* width: 100%; */
    margin-left: -235%;
    margin-top: 20px;
}