html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

html {
    background: #f0f0f0 url('../../BannerTags/Resources/images/pattern.png') 0 0 repeat
}

body {
    font-size: 13px;
    *font-size: small;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    color: #333;
    line-height: 1.3
}

select,
input,
textarea,
button {
    font: 99% sans-serif
}

button {
    width: auto;
    overflow: visible
}

::-moz-focus-inner {
    border: 0;
    padding: 0
}

::selection {
    background: #b5d5ff;
    color: #666;
    text-shadow: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold
}

.fl {
    float: left
}

.fr {
    float: right
}

.hidden {
    display: none
}

.clickable {
    cursor: pointer!important
}

.abs {
    position: absolute
}

.rel {
    position: relative
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    visibility: hidden
}

.clearfix:after {
    clear: both
}

.clearfix {
    zoom: 1
}

.center {
    text-align: center
}

.rounded {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px
}

.page-loading .page {
    background: url('../../BannerTags/Resources/images/page-loading.gif') 50% 170px no-repeat
}

.page-content {
    margin: 0 auto;
    position: relative
}

.header {
    background: url('../../BannerTags/Resources/images/bg.png') bottom left repeat-x;
    overflow: hidden;
    padding: 20px 25px;
    margin-bottom: 20px
}

.header h1 {
    float: left
}

.header h1 a {
    display: block;
    text-indent: -9999em;
    height: 23px;
    width: 83px;
    position: relative;
    top: 5px;
    background: url('../../BannerTags/Resources/images/logos.png') 0 0 no-repeat
}

.header .actions {
    float: right;
    *vertical-align: top
}

.header .actions * {
    *vertical-align: top
}

.footer,
.details {
    padding: 30px 25px;
    position: relative;
    text-shadow: 0 1px 0 #fff
}

.header h2 {
    color: #666;
    font-size: 16px
}

.header p,
.footer p,
.details p {
    color: #888;
    font-size: 11px
}

button,
.submit {
    border: 0;
    cursor: pointer;
    font-weight: bold;
    padding: 0 20px 0 0;
    text-align: center;
    background: url('../../BannerTags/Resources/images/sprite.png') 100% -80px no-repeat;
    height: 40px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block
}

button strong,
.submit strong {
    position: relative;
    display: block;
    white-space: nowrap;
    padding: 0 0 0 20px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    font-size: 13px;
    font-family: Arial!important;
    color: #fff;
    text-shadow: 0 1px 2px #26577e;
    background: url('../../BannerTags/Resources/images/sprite.png') -410px 0 no-repeat;
    *overflow: visible;
    font-weight: 700
}

button:hover,
.submit:hover,
button:active {
    background-position: 100% -120px;
    outline: 0
}

button:hover strong,
.submit:hover strong,
button:active strong {
    background-position: -410px -40px;
    text-shadow: 0 1px 2px #2d7321;
    outline: 0
}

button.disabled,
.submit.disabled,
button[disabled],
.submit[disabled] {
    filter: alpha(opacity=20);
    -ms-filter: alpha(opacity=20);
    -khtml-opacity: .2;
    -moz-opacity: .2;
    opacity: .2;
    cursor: default
}

button.disabled strong,
.submit.disabled strong,
button[disabled] strong,
.submit[disabled] strong {
    text-shadow: none;
    color: #fff;
    filter: alpha(opacity=20);
    *filter: none
}

body:first-of-type .submit[disabled] strong {
    filter: none
}

button.disabled:hover,
.submit.disabled:hover,
button[disabled]:hover,
.submit[disabled]:hover {
    background-position: 100% -80px
}

button.disabled:hover strong,
.submit.disabled:hover strong,
button[disabled]:hover strong,
.submit[disabled]:hover strong {
    background-position: -410px 0;
    color: #fff
}

button:focus,
.submit:focus {
    outline: none
}

.banners-preview .page-content {
    text-align: center;
    padding-bottom: 30px
}

.preview {
    padding-top: 60px
}

.preview h3 {
    color: #888;
    padding: 0 0 20px 0;
    text-shadow: 0 1px 0 #fff;
    font-size: 14px
}

.preview .details {
    padding-top: 20px;
    padding-bottom: 20px
}

.preview strong {
    margin-left: 30px
}

.preview strong:first-child {
    margin-left: 0
}

.banner {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background: #fff;
    margin: 0 auto;
    font-size: 0;
    box-shadow: 0 0 15px #000;
    behavior: url('/BannerTags/Resources/css/ie-css3.htc')
}

body:nth-of-type(1) .banner {
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .35), 0 0 15px rgba(0, 0, 0, .35)!important;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .35), 0 0 15px rgba(0, 0, 0, .35)!important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .35), 0 0 15px rgba(0, 0, 0, .35)!important
}

.banner div {
    font-size: 11px;
    display: block;
    *display: inline;
    *zoom: 1;
    margin: 0
}

.banner>div {
    display: table
}

.banner.updating {
    background: #fff
}

.banner.updating p {
    padding: 30px 150px;
    font-weight: bold;
    font-size: 11px;
    line-height: 1;
    color: #f9710d;
    text-align: center;
    background: #fff
}

.banner.updating>div {
    margin: 0 auto
}

.banner.updating>div+p {
    padding: 10px 20px
}

.banner.frammed {
    padding: 20px 40px
}

.vast-link {
    color: #00aceb
}

.vast-link:hover {
    color: #0077a3
}