<script language="javascript" src="http://temmais.com/banners/adfscript/?id=teste1&width=300&height=250"></script>
<noscript>
    <a href="{{CLICK_TAG}}" target="_blank">
            <img src="http://temmais.com/banners/assets/invisible.gif" border="0" width="300" height="250" alt=""/>
    </a>
</noscript>