<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <title>
        Test Tags
    </title>
    <script type="text/javascript" src="js/bannertags.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bannertags.css" />
</head>

<body class="index-page banners-preview no-sidebar">

    <div class="header">
        <h1>
            <a href="http://tvtem.com" target="_blank">TV Tem apps</a>
        </h1>
        <div class="actions">
            <!-- use whats more suitable button or anchor-->
            <a onclick="javascript: window.location.reload();" class="submit"><strong>Refresh</strong></a>
        </div>
    </div>
    <div class="page">
        <div class="page-content">

            <div class="preview">
                <div class="banner">
                    <div>
                        <script language="javascript" src="js/adfscript.js"></script>
                        <noscript>
                            <a href="{{CLICK_TAG}}" target="_blank">
                                <img src="banners/invisible.gif" border="0" width="300" height="250" alt=""/>
                            </a>
                        </noscript>
                    </div>
                </div>
                <div class="details">
                    <p>
                        <strong>Tag</strong>: "G1SOR_Internas_BillboardFullscreen_Generico_RMNV"
                        <strong>Media</strong>: Globo.br
                        <strong>Line Item</strong>: G1SOR_Internas_BillboardFullscreen_Generico_RMNV
                        <strong>Size</strong>: 970 x 250
                        <strong>Adserving</strong>: Impressions
                    </p>
                </div>
            </div>

        </div>
        <!-- end .page-content -->
    </div>
</body>

</html>